#container{
    width: 793.70px;
    height: 1096.06px;
    margin: auto;
    padding: 10px;
}

#container p{
    margin-bottom: 0pt;
}
#container h4{
    text-align: center;
    margin-top: 15pt;
}

#Logotipo{
    width: 100%;
    height: 2cm;
    padding-left: 20%;
}
#txt_logo{
    float: left;
}
#txt_logo p{
    font-size: 14pt;
}
.img_logo img{
    width: 10%;
    float: left;
}

#table1{
    width: 80%;
    margin-left: 8%;
}


#declaracao{
    display: grid;
    grid-template-columns: 2;
}